.box {
    width: 200px;
    height: 200px;
    background-color: blue;
    animation-name:example;
    animation-duration: 6s;
    position: relative;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes example {
    /* from {background-color: aquamarine;}
    to {background-color: red;} */
    0%   {background-color: aquamarine;left: 0px; top: 0px; }
    25%  {background-color: yellow;left: 200px; top: 0px; }
    50%  {background-color: orange;left: 200px; top: 200px; }
    75%  {background-color: green; left: 0px; top: 200px;}
    100% {background-color: red; left: 0px; top: 0px;}

} 