* {
    background-color: #b0c4b1;
    padding: 5px 2px;
    margin: 6px;
}
#two {
     color:rgb(255, 0, 170);
      border-radius: 10px;
    border: 2px solid black;
}
#three {
    color: rgb(146, 49, 22);
    border-radius: 10px;
    border: 2px solid black;
}
#one {
    color: rgb(16, 111, 33);
    border: 2px solid black;
    border-radius: 10px;
}