.div1 {
    width: 200px;
    height: 200px;
    background-color: green;
    display: flex;
    

}
.div1:hover {
    background-color: red;
}
.div2 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    display: flex;
}
.div2:hover {
    background-color: blue;
}
.div3 {
    width: 200px;
    height: 200px;
    background-color: purple;
    display: flex;
}
.div3:hover {
    background-color: pink;
}
.div4 {
    width: 200px;
    height: 200px;
    background-color: orange;
    display: flex;
}
.div4:hover {
    background-color: brown;
}

body {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
}

.maindiv {
    border: 4px solid black;
    height: 200px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}