.div1 {
    width: 200px;
    height: 200px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.div1:hover {
    background-color: red;
}
.div2 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2:hover {
    background-color: blue;
}
.div3 {
    width: 200px;
    height: 200px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3:hover {
    background-color: pink;
}
.div4 {
    width: 200px;
    height: 200px;
    background-color: orange;
    justify-content: center;
    align-items: center;
    display: flex;
}
.div4:hover {
    background-color: brown;
}

body {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.maindiv {
   
    display: flex;
    gap: 10px;
   align-items: center;
    flex-wrap: wrap;
    
}