:root {
    --primary-color: #267cb9;
    --secondary-color: #6cd62a;
    --color:#e9476c;
    --font-family: 'Arial, sans-serif';
}
body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    padding: 20px;
}
h1 {
    color: var(-);
}
.box1 {
    width: 200px;
    height: 200px;
    background-color: var(--primary-color);
}
.box2 {
    width: 200px;
    height: 200px;
    background-color: var(--secondary-color);
}

.logo {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: var(--secondary-color);
}


.box1 {
    width: 100%;
    height: 100px;
}